# visual studio code files
.vscode
.vs/
# ignoring the build folder.
build/

# ignoring visual studio files
*.sln
*.vcxproj.user
*.vcxproj.user.*
*.vcxproj.filters
*.vcxproj.filters.*
*.vcxproj.filters.user
*.vcxproj.filters.user.*
*.vcxproj.filters.user.debug
*.vcxproj.filters.user.debug.*
*.vcxproj.filters.user.release
*.vcxproj.filters.user.release.*
*.vcxproj
*.stamp

# file produce by Debug
Debug/

# ignoring mac files
.DS_Store

# ignoring python virtual environments
venv/

# Python Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
